body{
  display:flex;
  flex-direction:column;
  font-family: 'Aleo', serif;
  align-items:center;
  color:white;
  margin:0;
  padding:0;
}

h1{
  font-size:220%;
}

h2{
  margin-top:none;
  font-size:100%;
  vertical-align: middle;
  text-align: center;
  line-height:150%;
}

h3{
  margin-top: 3px;
}

#objetivo{
  width:200px;
  height:50px;
  border-radius: 25px;
  margin-bottom:20px;
  color:black;
  background-color:red;

}

#caja{
  display:flex;
  flex-direction:column;
  position:fixed;
  top:100px;
  align-items:center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  max-width:100%; 
  min-height: 100%;
  max-height:100%;
  z-index:-1000;
  object-fit:cover;
}

.button {
	background-color:gray;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Aleo', serif;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d1d1d1;
}
.button:hover {
	background-color:gray;
}
.button:active {
	position:relative;
	top:1px;
}

#lista{
  list-style-type: none;
  margin:0;
  padding:0;
  font-size:200%;
  align-items:center;
}

li{
  padding:10px;
}

.ui-selected { 
  background-color:white;
  color:black;
}

#restart{
  margin-bottom:15px;
}

